<!--v errors:*--><!--/v-->
<!--b errors:*--><div class="errors"><!--v errors--><!--/v--></div><!--/b-->
<!--b errormessage:*--><!--v errormessage/--><br><!--/b-->
<!--b mandatory:*-->required<!--/b-->
<!--b mandatory:login-->Login is required<!--/b-->
<!--b mandatory:password-->Password is required<!--/b-->
<!--b wrongLength:login-->Login is invalid<!--/b-->
<!--b wrongLength:password-->Password is invalid<!--/b-->
<!--b invalid:credentials-->These credentials are invalid<!--/b-->
<!--b mark:error-->errors<!--/b-->